@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply h-8 
      w-8
      md:w-9 
      cursor-pointer 
      md:p-1 
      md:hover:bg-stone-200 
      rounded-md 
      text-black;
  }
}
