@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply h-8 
      w-8
      md:w-9 
      cursor-pointer 
      md:p-1 
      md:hover:bg-stone-200 
      rounded-md 
      text-black;
  }
}

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}

.dashboard-polka {
  background-image: repeating-linear-gradient(
      12deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 19px,
      transparent 19px,
      transparent 21px
    ),
    repeating-linear-gradient(
      165deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 19px,
      transparent 19px,
      transparent 21px
    ),
    repeating-linear-gradient(
      293deg,
      rgb(255, 255, 255) 0px,
      rgb(255, 255, 255) 19px,
      transparent 19px,
      transparent 21px
    ),
    linear-gradient(90deg, rgb(253, 76, 251), rgb(73, 233, 121));
}
